---
import ButtonGithub from '../components/ButtonGithub.astro';
import ButtonLink from '../components/ButtonLink.astro';
import Mongodb from '../icons/Mongo.astro';
import NextJs from '../icons/Nextjs.astro';
import Node from '../icons/Node.astro';
import React from '../icons/React.astro';
import Tailwind from '../icons/Tailwind.astro';
import Vite from '../icons/Vite.astro';
import Stripe from '../icons/Stripe.astro';
import Typescript from '../icons/Typescript.astro';
import Prisma from '../icons/Prisma.astro';
const TAGS = {
  NEXT: {
    nane: "Next.js",
    class: "bg-black text-white",
    icon: NextJs
    ,
  },
  TAILWIND: {
    nane: "Tailwind.js",
    class: "bg-sky-500 text-white",
    icon: Tailwind
    ,
  },
  REACT: {
    nane: "React.js",
    class: "bg-blue-900 text-white",
    icon: React
    ,
  },
  NODEJS: {
    nane: "Node.js",
    class: "bg-emerald-500 text-white",
    icon: Node
    ,
  },
  MONGODB: {
    nane: "MongoDB",
    class: "bg-emerald-500 text-white",
    icon: Mongodb
    ,
  },
  VITE: {
    nane: "Vite.js",
    class: "bg-violet-900 text-white",
    icon: Vite
    ,
    
  },
  STRIPE: {
    nane: "Stripe",
    class: "bg-blue-900 text-white",
    icon: Stripe
    ,

  },
  TYPESCRIPT: {
    nane: "Typescript",
    class: "bg-blue-900 text-white",
    icon: Typescript
    ,

  },
  PRISMA: {
    nane: "Prisma",
    class: "bg-blue-900 text-white",
    icon: Prisma
    ,

  },
};
const PROYECTOS = [
{
    title: "Github Clone",
    descripcion:
      "Clone de Github, con funcionalidad de busqueda de repositorios, favoritos, etc.",
    image: "/assets/githubclone.png",
    github: "https://github.com/jpmacana/Github-Clone-MongoDB",
    link: "https://github-clone-mongodb.onrender.com/",
    tags: [TAGS.REACT,TAGS.NEXT, TAGS.TAILWIND,TAGS.NODEJS,TAGS.MONGODB,TAGS.VITE],
  },
  {
    title: "Saas Macana",
    descripcion:
      "App sencilla para el manejo de notas rapidas para el usuario, con stripe para pagar una subscripcion mensual.",
    image: "/assets/saas.png",
    github: "https://github.com/jpmacana/saas-macana-next-typescript",
    link: "https://saas-macana-next-typescript.vercel.app/",
    tags: [TAGS.NEXT, TAGS.TAILWIND,TAGS.NODEJS,TAGS.MONGODB,TAGS.PRISMA,TAGS.STRIPE],
  },
  {
    title: "RST Institucional",
    descripcion:
      "Pagina Institucional desarrollada por el equipo de RST Argentina, el cual pertenezco desde Junio del 2023.",
    image: "/assets/rst.png",
    github: "https://github.com/RSTArgentina/rst-institucional",
    link: "https://www.rst-argentina.com.ar/",
    tags: [TAGS.REACT,TAGS.NEXT, TAGS.TAILWIND,],
  },
  {
    title: "DanielBot",
    descripcion:
      "Landing Page sobre el servicio de chatbot que ofrece la empresa RST Argentina.",
    image: "/assets/danielbot.png",
    github: "https://github.com/RSTArgentina/chatbot-landing",
    link: "https://www.danielbot.com.ar/",
    tags: [TAGS.REACT,TAGS.NEXT, TAGS.TAILWIND,],
  },

  
  
];
---


    {
        PROYECTOS.map(({ title, descripcion, tags, image, link,github }) => (
            <article class="flex flex-col justify-center items-center mt-12 ">
      <h1 class="text-3xl font-semibold text-orange-400 my-2" id="proyectos">{title}</h1>
      <p class="text-ms font-light my-2 text-pretty">{descripcion}</p>
      <ul class="flex flex-row justify-center items-center gap-x-4 mt-10">
        {tags.map((tag) => (
            <li><tag.icon/></li>
          <span class="bg-indigo-100 text-indigo-800 text-wrap text-sm font-medium me-3 px-2 py-0.5 rounded-xl dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">{tag.nane}</span>
        ))}
      </ul>
      <img
      src={image}
      width={500}
      height={500}
      alt="titulo"
      class="rounded shadow-2xl shadow-white/10 inline-grid my-10 w-auto h-auto"
      />
      <div class="flex flex-row gap-x-40 justify-center mt-3">
        <a
        href={github}
        target="_blank"
        rel="noopener noreferrer"
        ><ButtonGithub/></a>
        <a
        href={link}
        target="_blank"
        rel="noopener noreferrer"
        ><ButtonLink/></a>
        </div>
        </article>
        ))
 
    }
